name: Build Miner

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Force install critical libs to be safe
        pip install customtkinter requests selenium webdriver_manager packaging urllib3
        # Install from your file
        pip install -r requirements.txt
        pip install nuitka zstandard

    - name: Build with Nuitka
      run: |
        python -m nuitka --onefile --standalone --assume-yes-for-downloads --enable-plugin=tk-inter --include-package=customtkinter --include-package=requests --include-package=selenium --include-package=webdriver_manager --windows-disable-console --output-filename=MangaBuffMiner.exe main.pyw

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "MangaBuffMiner.exe"
        token: ${{ secrets.GITHUB_TOKEN }}
        allowUpdates: true
        generateReleaseNotes: true
        tag: ${{ github.ref_name }}